.flexcenter{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin-top:15%;
}

.flexCenterColumn{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.center{
	text-align:center;
}
.labelForm{
	padding-left:6px;
}

#fadeEffect{
	background-color:white !important;
}

.menu{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.btn{
	padding:5px;
	margin:5px;
	 text-decoration:none; 
}

.btn2{
	 text-decoration:none; 
	 padding:5px;
	 font-weight: normal;
	 color:black;
}